django==4.2.30
djangorestframework==3.17
djangorestframework-simplejwt==5.5
django-simpleui==2026.1.13
django-cors-headers==4.9
pymysql==1.1.1
djoser==2.3.4
social-auth-app-django==5.4.0
openai
baidu-aip
chardet
python-dotenv
